.detail-page {
  padding: 10px 15px 15px 15px;
}
.bold {
  font-weight: bold;
}
.right {
  text-align: right;
  word-break: break-all;
}
.description {
  white-space: pre-wrap;
}
.warning {
  text-align: center;
  color: #ff0000;
}
