<app-spinner *ngIf="!lineUserProfile"></app-spinner>
<div class="user-page" *ngIf="lineUserProfile">
  <h1>個人資料</h1>
  <div uk-grid>
    <div class="uk-width-auto">
      <img
        class="user-picture"
        src="{{ lineUserProfile.pictureUrl }}"
        alt=""
        width="80"
        height="80"
      />
    </div>
    <div class="uk-width-expand card" uk-grid>
      <div class="uk-width-3-4">有任何問題歡迎隨時傳訊息給 Line 官方帳號</div>
      <div class="uk-width-1-4">
        <a href="https://lin.ee/IdbKMOe"
          ><img src="assets/line-messenger.svg" alt="加入好友"
        /></a>
      </div>
    </div>
  </div>
  <div class="uk-divider-small"></div>
  <div uk-grid>
    <div class="uk-width-auto bold">LINE名稱</div>
    <div class="uk-width-expand right">{{ lineUserProfile.displayName }}</div>
  </div>
  <div uk-grid>
    <div class="uk-width-auto bold">姓名</div>
    <div class="uk-width-expand right">{{ user.name }}</div>
  </div>
  <div uk-grid>
    <div class="uk-width-auto bold">身份</div>
    <div class="uk-width-expand right">{{ user.role }}</div>
  </div>
  <div uk-grid>
    <div class="uk-width-auto bold">生日</div>
    <div class="uk-width-expand right">{{ user.birthday }}</div>
  </div>
  <div class="uk-divider-small"></div>
</div>
