.user-page {
  padding: 10px 15px 15px 15px;
}
.card {
  height: 80px;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 5px 10px;
  margin-left: 10px;
  border: 2px dashed #b35600;
  background-color: #fff2e1;
}
.btn {
  margin-bottom: 6px;
}
.user-picture {
  border-radius: 50%;
}
.user-id {
  font-size: 6px;
  color: #b3b3b3;
}
.right {
  text-align: right;
  word-break: break-all;
}
