.user-page {
  padding: 10px 15px 15px 15px;
}
.card {
  box-sizing: border-box;
  border-radius: 6px;
  padding: 5px;
  margin-left: 10px;
  border: 1px dashed #b35600;
  background-color: #fff2e1;
}
.edit-button {
  margin-bottom: 6px;
}
.user-picture {
  border-radius: 50%;
}
.bold {
  font-weight: bold;
}
.right {
  text-align: right;
  word-break: break-all;
}
