<div class="tab">
  <div class="uk-child-width-1-3" uk-grid>
    <div>
      <div
        class="tabs uk-box-shadow-medium"
        (click)="onClickTab('home')"
        [ngClass]="getRouterUrl() === 'home' ? 'activate' : 'deactivate'"
      >
        <img class="icon" src="assets/home.svg" />
        <div class="field">主頁</div>
      </div>
    </div>
    <div>
      <div
        class="tabs uk-box-shadow-medium"
        (click)="onClickTab('event-list')"
        [ngClass]="getRouterUrl() === 'event-list' ? 'activate' : 'deactivate'"
      >
        <img class="icon" src="assets/partly-sunny.svg" />
        <div class="field">出遊清單</div>
      </div>
    </div>
    <div>
      <div>
        <div
          class="tabs uk-box-shadow-medium"
          (click)="onClickTab('user-profile')"
          [ngClass]="
            getRouterUrl() === 'user-profile' ? 'activate' : 'deactivate'
          "
        >
          <img class="icon" src="assets/grid.svg" />
          <div class="field">個人資料</div>
        </div>
      </div>
    </div>
  </div>
</div>
