<p>home works!!</p>
<ion-button color="primary">Primary</ion-button>
<ion-button color="secondary">Secondary</ion-button>
<ion-button color="tertiary">Tertiary</ion-button>
<ion-button color="success">Success</ion-button>
<ion-button color="warning">Warning</ion-button>
<ion-button color="danger">Danger</ion-button>
<ion-button color="light">Light</ion-button>
<ion-button color="medium">Medium</ion-button>
<ion-button color="dark">Dark</ion-button>
<ion-button shape="round">Round Button</ion-button>
<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
  <h3 class="uk-card-title">Default</h3>
  <p>
    Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>
<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
  <h3 class="uk-card-title">Default</h3>
  <p>
    Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>
<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
  <h3 class="uk-card-title">Default</h3>
  <p>
    Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>
<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
  <h3 class="uk-card-title">Default</h3>
  <p>
    Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>
<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
  <h3 class="uk-card-title">Default</h3>
  <p>
    Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>
<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
  <h3 class="uk-card-title">Default</h3>
  <p>
    Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>
<div
  class="uk-card uk-card-default uk-card-body"
  uk-scrollspy="cls: uk-animation-slide-left; repeat: true"
>
  <h3 class="uk-card-title">Left</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<button class="uk-button" (click)="onClick()">go to child</button>
