<div class="event-page">
  <h1>出遊清單</h1>
  <div>欲報名出遊或瀏覽出遊詳情，請點擊卡片</div>
  <div class="card uk-box-shadow-medium" uk-grid (click)="onClickCard()">
    <div class="uk-width-1-2 bold">2021/02/28(日)</div>
    <div class="uk-width-1-2 bold">09:00-14:00</div>
    <div class="uk-width-1-1">地點: 內湖白石湖吊橋</div>
    <div class="uk-width-1-1">一起走步道，沿途賞櫻拍照</div>
  </div>
  <div class="card uk-box-shadow-medium" uk-grid>
    <div class="uk-width-1-2 bold">2021/02/28(日)</div>
    <div class="uk-width-1-2 bold">09:00-14:00</div>
    <div class="uk-width-1-1">地點: 內湖白石湖吊橋</div>
    <div class="uk-width-1-1">一起走步道，沿途賞櫻拍照</div>
  </div>
  <div class="card uk-box-shadow-medium" uk-grid>
    <div class="uk-width-1-2 bold">2021/02/28(日)</div>
    <div class="uk-width-1-2 bold">09:00-14:00</div>
    <div class="uk-width-1-1">地點: 內湖白石湖吊橋</div>
    <div class="uk-width-1-1">一起走步道，沿途賞櫻拍照</div>
  </div>
  <div class="card uk-box-shadow-medium" uk-grid>
    <div class="uk-width-1-2 bold">2021/02/28(日)</div>
    <div class="uk-width-1-2 bold">09:00-14:00</div>
    <div class="uk-width-1-1">地點: 內湖白石湖吊橋</div>
    <div class="uk-width-1-1">一起走步道，沿途賞櫻拍照</div>
  </div>
  <div class="card uk-box-shadow-medium" uk-grid>
    <div class="uk-width-1-2 bold">2021/02/28(日)</div>
    <div class="uk-width-1-2 bold">09:00-14:00</div>
    <div class="uk-width-1-1">地點: 內湖白石湖吊橋</div>
    <div class="uk-width-1-1">一起走步道，沿途賞櫻拍照</div>
  </div>
  <div class="card uk-box-shadow-medium" uk-grid>
    <div class="uk-width-1-2 bold">2021/02/28(日)</div>
    <div class="uk-width-1-2 bold">09:00-14:00</div>
    <div class="uk-width-1-1">地點: 內湖白石湖吊橋</div>
    <div class="uk-width-1-1">一起走步道，沿途賞櫻拍照</div>
  </div>
  <div class="card uk-box-shadow-medium" uk-grid>
    <div class="uk-width-1-2 bold">2021/02/28(日)</div>
    <div class="uk-width-1-2 bold">09:00-14:00</div>
    <div class="uk-width-1-1">地點: 內湖白石湖吊橋</div>
    <div class="uk-width-1-1">一起走步道，沿途賞櫻拍照</div>
  </div>
</div>
