<app-spinner *ngIf="!trips"></app-spinner>
<div class="event-page" *ngIf="trips">
  <h1>出遊清單</h1>
  <div>欲報名出遊或瀏覽出遊詳情，請點擊卡片</div>
  <div
    *ngFor="let trip of trips"
    class="card uk-box-shadow-medium"
    uk-grid
    (click)="onClickCard(trip.creationId)"
  >
    <div class="uk-width-1-2 bold">{{ trip.date }}</div>
    <div class="uk-width-1-2 bold">{{ trip.startDate }}~{{ trip.endDate }}</div>
    <div class="uk-width-1-1">地點: {{ trip.place }}</div>
    <div class="uk-width-1-1">{{ trip.shortDesc }}</div>
  </div>
</div>
